body {
  background-color: rgb(15, 24, 15);
  font-family: 'Raleway', sans-serif;

}

.page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body {
  background: rgb(37, 37, 37);
  color: white;
  text-align: center;
  text-emphasis-color: black;
  vertical-align: middle;
  border-radius: 5vw;
  padding: 5vw;
  width: 80%;
  height: 80%;
  margin: auto;
  box-shadow: 10px;
  border: 10px rgba(0,0,0,0.8);
}

div.body {
  border-style: solid;
  border-width: 3px;
}

.content {
  font-size: 3vmin
}

* {box-sizing:border-box}

.slideshow-container {
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.button {
  background-color: rgb(10, 82, 0);
  border: none;
  color: white;
  position: relative;
  bottom: 0px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;

}

.nextbutton {
  
}

.exitbutton {

}

.button:hover {
  cursor: pointer;
  background-color: rgb(0, 61, 0);
  position: relative;
  transition: 0.5s;
}

.hidden {
  display: none;
}